@tailwind base;
@tailwind components;
@tailwind utilities;
.dark {
  --tw-bg-opacity: 1;
  background-color: #1a202c; /* Цвет фона для dark mode */
  color: #fff; /* Цвет текста для dark mode */
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
